html,
body {
  background-color: #1b1b32;
	color: #f5f6f7;
  font-family: Tahoma;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
}

header {
  color:#f1be32;
  margin: 10px;
  
  font-size: 1.8em;
  font-weight: thin;
  padding-bottom: 10px;
}
.microsoft {
     position: relative;
    background-color: #f25022;
    box-shadow: 
        25px 0 0 0 #7fba00, 
        0 25px 0 0 #00a4ef, 
        25px 25px 0 0 #ffb900;
    height: 20px;
    width: 20px;
    left: 85%;
    margin-top: -33px;
    z-index: 3;
    transition: 1s;
    transition-timing-function: ease-in-out;
   
}

.microsoft:hover {
  position: relative;
 background-color: #f25022;
 box-shadow: 
     27px 0 0 0 #7fba00, 
     0 27px 0 0 #00a4ef, 
     27px 27px 0 0 #ffb900;
 height: 22px;
 width: 22px;
 left: 85%;
 margin-top: -33px;
 z-index: 3;

}
#main-doc header {
  text-align: left;
  margin: 0px;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}


#navbar li {
  border-bottom: 3px solid #3b3b4f;
  list-style: none;
  position: relative;
  width: 100%;
}


#navbar a {
  display: block;
  padding: 10px 30px;
  color: #dfdfe2;
  text-decoration: none;
  cursor: pointer;
}

#navbar a:hover {
  display: block;
  padding: 10px 30px;
  color: #dfdfe2;
  text-decoration: none;
  cursor: pointer;
  color:#f1be32;
  background-color: #1b1b32;
 
}
#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

section article {
 
  margin: 15px;
  font-size: 0.96em;
}

section li {
  margin: 15px 0px 0px 20px;
}



@media only screen and (max-width: 815px) {

  #navbar ul {
    display:flex;
    height: 150px;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.76em;
    
    
  }

  #navbar {
    position: fixed;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 205px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
    background: #1b1b32;
   
  }
  #navbar li {
    border-bottom: 3px solid #3b3b4f;
    list-style: none;
    position: relative;
    width: 50%;
    justify-content: space-evenly;
    
    
  }
  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 200px;
  }
  
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }

}
